.337_65 { 
	overflow:hidden;
}
.e337_65 { 
	background-color:rgba(58.00000034272671, 228.0000016093254, 167.00000524520874, 0.800000011920929);
	width:1364px;
	height:1755px;
	position:absolute;
}
.e337_85 { 
	width:1364px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}
.e337_66 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 212.00000256299973, 47.0000009983778, 1);
	width:1364px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e337_84 { 
	width:483px;
	height:75px;
	position:absolute;
	left:440px;
	top:16px;
}
.ei337_84_337_76 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:75px;
	height:75px;
	position:absolute;
	left:408px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo_tiktok.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_84_337_75 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:75px;
	height:75px;
	position:absolute;
	left:306px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo_youtube.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_84_337_73 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:75px;
	height:75px;
	position:absolute;
	left:204px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo_twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_84_337_77 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:75px;
	height:75px;
	position:absolute;
	left:102px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo_medium.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_84_337_74 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:75px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo_discord.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e337_91 { 
	color:rgba(255, 252.87500202655792, 252.87500202655792, 1);
	width:810px;
	height:146px;
	position:absolute;
	left:277px;
	top:148px;
	font-family:Roboto;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}
.e337_106 { 
	width:810px;
	height:323px;
	position:absolute;
	left:277px;
	top:335px;
}
.e337_104 { 
	width:810px;
	height:257px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei337_104_337_93 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:257px;
	height:257px;
	position:absolute;
	left:553px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/gif_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_104_337_94 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:257px;
	height:257px;
	position:absolute;
	left:277px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/gif_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei337_104_337_92 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:257px;
	height:257px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/gif_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e337_105 { 
	width:665px;
	height:25px;
	position:absolute;
	left:73px;
	top:298px;
}
.ei337_105_337_97 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 212.00000256299973, 47.0000009983778, 0.800000011920929);
	width:100px;
	height:25px;
	position:absolute;
	left:9px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei337_105_337_98 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 212.00000256299973, 47.0000009983778, 0.800000011920929);
	width:100px;
	height:25px;
	position:absolute;
	left:281px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei337_105_337_99 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 212.00000256299973, 47.0000009983778, 0.800000011920929);
	width:100px;
	height:25px;
	position:absolute;
	left:557px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei337_105_337_96 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:25px;
	position:absolute;
	left:0px;
	top: 4px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.ei337_105_337_100 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:25px;
	position:absolute;
	left:271px;
	top: 4px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.ei337_105_337_101 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:25px;
	position:absolute;
	left:548px;
	top: 4px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e337_126 { 
	width:950px;
	height:475px;
	position:absolute;
	left:208px;
	top:731px;
}
.e337_116 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:475px;
	height:475px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e337_125 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	width:475px;
	height:475px;
	position:absolute;
	left:475px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/promowalker_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e337_129 { 
	width:1364px;
	height:98px;
	position:absolute;
	left:0px;
	top:1341px;
}
.e337_127 { 
	box-shadow:0px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 212.00000256299973, 47.0000009983778, 1);
	width:1364px;
	height:98px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e337_128 { 
	color:rgba(0, 0, 0, 0.8999999761581421);
	width:1364px;
	height:98px;
	position:absolute;
	left:0px;
	top: 8px;
	font-family:Roboto;
	text-align:center;
	font: size 60px;px;
	letter-spacing:0;
}
.e337_134 { 
	width:256px;
	height:45px;
	position:absolute;
	left:552px;
	top:1512px;
}
.e337_130 { 
	background-color:rgba(15.9375, 15.605469066649675, 15.605469066649675, 0.800000011920929);
	width:256px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e337_131 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:45px;
	position:absolute;
	left:18px;
	top: 8px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.337_132 { 
	border:2px solid rgba(253.93750101327896, 249.70521211624146, 249.70521211624146, 1);
}
.e337_132 { 
	width:75px;
	height:0px;
	position:absolute;
	left:160px;
	top:22px;
}
